# Lab1

In [ ]:
Name:
Student ID:

Read the Salaries.csv into a dataframe called df_data and use the head() method to check that you have read in the data correctly. Make sure you import pandas.

In [ ]:


#Write your code here

Use the dtypes attribute to view how each column is stored

In [ ]:
#Write your code here

Slice the first two columns using .loc and store the result in a variable.

In [ ]:
#Write you code here

Slice the first two rows using .loc and store the result in a variable called result_2.

In [ ]:
#Write you code here

Slice the first four rows and the first five columns and store the result in a variable called result_3.

In [ ]:
#Write you code here

Slice rows 0,4,6 and select two columns randomly and store the result in variable called result_4.

In [ ]:
#Write you code here

In [ ]:
Store the number rows in a variable called num_rows.

In [ ]:
#Write you code here

Print out the last row of the data to dataframe.

In [ ]:
#Write you code here

Compute the average and max TotalPay.  Store the results in variables called avg_TotalPay and max_TotalPay

In [ ]:
#Write your code here

Create a column called "final", which is BasePay*2.

In [ ]:
#Write your code here

Use the drop() method to delete the column OvertimePay from the dataframe df_data.

In [ ]:
#Write your code here

In this set of practice exercises, we will be working with a demographic data regarding the passengers aboard the Titanic.  Read in the data frame and use the head() method to check that it was read in correctly.

In [ ]:
import pandas as pd
#Write your code here

Use the rename method to change the column "Name" to "Passenger_Name" and the column "Ticket" to "Ticket_Num".

In [ ]:
#Write your code here

Select the name of passenger 896

In [ ]:
#Write your code here

How many missing entries are there in the Age column?

In [ ]:
#Write you code here
df_titanic.isnull().sum()["Age"]

Compute the avg age of passengers ignoring the missing data.

In [ ]:
#Write your code here

Using the fillna() method replace the missing values in the Age column with the mean.

In [ ]:
#Write your code here

In [ ]:
#Bonus: for students who wants to practice more

What is the average age of the 5 oldest passengers? The reset_index method will be helpful here.

In [ ]:
#Write your code here