## Assignment 1
### Daniel Mehta

## Question 1

In [4]:
import pandas as pd
import numpy as np

## Question 2

In [7]:
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

## Question 3

In [10]:
df = pd.read_csv("WineQT.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1143 entries, 0 to 1142
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1142 non-null   float64
 1   volatile acidity      1139 non-null   float64
 2   citric acid           1140 non-null   float64
 3   residual sugar        1143 non-null   float64
 4   chlorides             1143 non-null   float64
 5   free sulfur dioxide   1143 non-null   float64
 6   total sulfur dioxide  1143 non-null   float64
 7   density               1141 non-null   float64
 8   pH                    1143 non-null   float64
 9   sulphates             1143 non-null   float64
 10  alcohol               1143 non-null   float64
 11  quality               1141 non-null   float64
 12  Id                    1143 non-null   int64
dtypes: float64(12), int64(1)
memory usage: 116.2 KB

## Question 4

In [13]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Id
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5.0,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5.0,1
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5.0,2
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6.0,3
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5.0,4

## Question 5

In [24]:
top_5_wine_alc = df.sort_values(by="alcohol",ascending=False).head(5)
print(f"The top 5 alcohol for wine are: \n{top_5_wine_alc}")

The top 5 alcohol for wine are:
     fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
462           15.9              0.36         0.65             7.5      0.096
329            8.8              0.46         0.45             2.6      0.065
98             5.2              0.34         0.00             1.8      0.050
898            5.0              0.38         0.01             1.6      0.048
419            5.0              0.42         0.24             2.0      0.060

     free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
462                 22.0                  71.0  0.99760  2.98       0.84
329                  7.0                  18.0  0.99470  3.32       0.79
98                  27.0                  63.0  0.99160  3.68       0.79
898                 26.0                  60.0  0.99084  3.70       0.75
419                 19.0                  50.0  0.99170  3.72       0.74

     alcohol  quality    Id
462     14.9      5.0   652
329     14.0      6.0   467
98      14.0      6.0   144
898     14.0      6.0  1270
419     14.0      8.0   588

## Question 6

In [31]:
print(df["density"].dtype)

float64

## Question 7

In [68]:
missing_vals = df.isnull().sum()
print(f"Missing Values by Column: \n {missing_vals}")
print("-"*40)
print(f"Total Missing Values: {missing_vals.sum()}")

Missing Values by Column:
 fixed acidity           1
volatile acidity        4
citric acid             3
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 2
pH                      0
sulphates               0
alcohol                 0
quality                 2
Id                      0
dtype: int64
----------------------------------------
Total Missing Values: 12