# Daniel Mehta

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [6]:
#Imports the HTML into python
url = 'https://www.nfl.com/standings/league/2019/reg/'
response = requests.get(url)
html_content = response.text

In [13]:
#Subsets the HTML to only get the HTML of our table needed
soup = BeautifulSoup(html_content, 'html.parser')
table = soup.find('table', class_='d3-o-table')

In [16]:
#Gets all the column headers of our table
headers = []

for th in table.find('thead').find_all('th'):
    header_text = th.text.strip()
    headers.append(header_text)

print(headers)

['NFL Team', 'W', 'L', 'T', 'PCT', 'PF', 'PA', 'Net Pts', 'Home', 'Road', 'Div', 'Pct', 'Conf', 'Pct', 'Non-Conf', 'Strk', 'Last 5']

In [17]:
#Creates a dataframe using the column headers from our table
df = pd.DataFrame(columns=headers)

df.head()

Empty DataFrame
Columns: [NFL Team, W, L, T, PCT, PF, PA, Net Pts, Home, Road, Div, Pct, Conf, Pct, Non-Conf, Strk, Last 5]
Index: []

In [19]:
#gets all our data within the table and adds it to our dataframe
rows = table.find('tbody').find_all('tr')

for row in rows:
    cells = row.find_all('td')
    row_data = [cell.get_text(strip=True) for cell in cells]

    df.loc[len(df)] = row_data

In [21]:
df.head(10)

,NFL Team,W,L,T,PCT,PF,PA,Net Pts,Home,Road,Div,Pct,Conf,Pct,Non-Conf,Strk,Last 5
0,Cincinnati BengalsBengals,2,14,0,0.125,279,420,-141,2 - 6 - 0,0 - 8 - 0,1 - 5 - 0,0.167,2 - 10 - 0,0.167,0 - 4 - 0,1W,2 - 3 - 0
1,Detroit LionsLions,3,12,1,0.219,341,423,-82,2 - 6 - 0,1 - 6 - 1,0 - 6 - 0,0.000,2 - 9 - 1,0.208,1 - 3 - 0,9L,0 - 5 - 0
2,Washington CommandersRedskins,3,13,0,0.188,266,435,-169,1 - 7 - 0,2 - 6 - 0,0 - 6 - 0,0.000,2 - 10 - 0,0.167,1 - 3 - 0,4L,1 - 4 - 0
3,New York GiantsGiants,4,12,0,0.250,341,451,-110,2 - 6 - 0,2 - 6 - 0,2 - 4 - 0,0.333,3 - 9 - 0,0.250,1 - 3 - 0,1L,2 - 3 - 0
4,Arizona CardinalsCardinals,5,10,1,0.344,361,442,-81,2 - 5 - 1,3 - 5 - 0,1 - 5 - 0,0.167,3 - 8 - 1,0.292,2 - 2 - 0,1L,2 - 3 - 0
5,Carolina PanthersPanthers,5,11,0,0.313,340,470,-130,2 - 6 - 0,3 - 5 - 0,1 - 5 - 0,0.167,2 - 10 - 0,0.167,3 - 1 - 0,8L,0 - 5 - 0
6,Los Angeles ChargersChargers,5,11,0,0.313,337,345,-8,2 - 6 - 0,3 - 5 - 0,0 - 6 - 0,0.000,3 - 9 - 0,0.250,2 - 2 - 0,3L,1 - 4 - 0
7,Miami DolphinsDolphins,5,11,0,0.313,306,494,-188,3 - 5 - 0,2 - 6 - 0,2 - 4 - 0,0.333,4 - 8 - 0,0.333,1 - 3 - 0,2W,3 - 2 - 0
8,Cleveland BrownsBrowns,6,10,0,0.375,335,393,-58,4 - 4 - 0,2 - 6 - 0,3 - 3 - 0,0.500,6 - 6 - 0,0.500,0 - 4 - 0,3L,1 - 4 - 0
9,Jacksonville JaguarsJaguars,6,10,0,0.375,300,397,-97,3 - 5 - 0,3 - 5 - 0,2 - 4 - 0,0.333,6 - 6 - 0,0.500,0 - 4 - 0,1W,2 - 3 - 0